.nav{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: rgba(18, 51, 112, 0.555);
    justify-content:flex-end;
    align-items: center;
    column-gap: 1vh;
    height: 10vh;
    margin: 2em;
    padding: 1em;
    border-radius: 1em;
    z-index: 100;
}

.searchBox{
    flex-grow:1;
    justify-self: center;
    min-width: 10vw;
    display: flex;
    justify-content: center;
}
.searchBox__box{
    border: 0px;
    height: 5vh;
    width: 40vw;
    min-width: 5vw;
}
.Title{
    font-size: clamp(1rem, 1rem + 2vw , 2rem);
    font-weight: bold;
    font-style: oblique;
    font-family: sans-serif;
    justify-self: flex-start;
    color: azure;
}
.menuItems-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.menuItems{
    display: flex;
    /* flex-grow: 1.2; */
    height: 100%;
    border-radius: 1em;
}
.menuItems__Link{
    color: white;
    align-self: center;
    justify-self: center;
    font-style: oblique;
    text-decoration: none;
    font-weight: bold;
    margin: 0.2em;
    width: 100%;
}
.menuItems:hover{
    background-color: rgba(18, 51, 112, 0.555);
    transition: all 300ms;
}

/* Searchbox */
.searchBox__box,.dropdown{
    background-color: rgba(255, 255, 255, 0.605); 
    border-radius: 1em;
    position: relative;
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dropdown {
    display: flex;
    position:absolute;
    top: 10%;
    overflow-y: auto;
    flex-direction: column;
    border: 1px solid gray;
    width: 40vw;
  }
  
  .dropdown:empty {
    border: none;
    
  }
  .dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
  }
  .search-inner {
    display: flex;
  }
@media (max-width: 800px){
  .menuItems-container{
    display: none;
  }
}