.nav{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: rgba(18, 51, 112, 0.555);
    justify-content:flex-end;
    align-items: center;
    column-gap: 1vh;
    height: 10vh;
    margin: 2em;
    border-radius: 1em;
}
.searchBox{
    flex-grow:1;
    justify-self: center;
    flex-grow: 3;
}
.searchBox__box{
    border: 0px;
    height: 5vh;
    width: 40vw;
}
.Title{
    font-size: 24px;
    font-weight: bold;
    font-style: oblique;
    font-family: sans-serif;
    justify-self: flex-start;
    flex-grow: 3;
    color: azure;
}
.menuItems{
    display: flex;
    flex-grow: 0.2;
    height: 40%;
    justify-content: center;
}
.menuItems__Link{
    color: white;
    align-self: center;
    justify-self: center;
    font-style: oblique;
    text-decoration: none;
    font-weight: bold;
}
.menuItems:hover{
    background-color: rgba(18, 51, 112, 0.555);
    transition: all 200ms;
}

/* Searchbox */
.searchBox__box,.dropdown{
    background-color: rgba(255, 255, 255, 0.605);
}
.search-container {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown {
    display: flex;
    position: absolute;
    overflow-y: auto;
    flex-direction: column;
    border: 1px solid gray;
    width: 40vw;
  }
  
  .dropdown:empty {
    border: none;
    
  }
  
  .dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
  }
  .search-inner {
    display: flex;
  }