.App{
  background-color: rgba(198, 195, 184, 0.621);
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  /* width: 100%; */
  align-content:space-around;
  /* to make page not selectable */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
/* to make page not selectable */      
background-image: url("../public/images/bak-img1.jpg");
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;                        
}
body{
  height: 100vh;
}
h1,h2,p{
  margin: 1em; 
  font-style: oblique;
} 
h1{
  color: rgba(18, 51, 112, 0.6);
  font-size: clamp(1rem, 1rem + 10vw , 7rem);
  max-width: 60rem;
  text-align: center;
}
p{
  font-size: clamp(1rem, 1rem + 10vw , 2rem);
}
.body, .body__img, section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.body{
  min-height: 80vh;
}
.featuredBooks, .mostSoldBooks{
  width: 40vw;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bookSection{
  display: flex;
  flex-direction: row;
  min-height: 20vh;
}